.eventsPage {
  padding-top: var(--header-height);
  background-color: var(--beige);
  min-height: 100vh;
  color: var(--green);
  padding-bottom: 4rem;
}

.pageTitle {
  text-align: center;
  font-size: 3rem;
  margin: 4rem 0 2rem 0;
  color: var(--green);
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .eventsPage {
    padding-top: var(--header-height-mobile);
  }
  
  .pageTitle {
    font-size: 3rem;
    margin: 4rem 0 0rem 0;
  }
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 2.3rem;
    margin: 4rem 0 0rem 0;
  }
}
