.bookingDetails {
  margin: 10px 0 10px 0;
  padding: 10px;
  background-color: rgba(36, 49, 27, 0.05);
  border-radius: 6px;
  font-size: 0.9rem;
}

.bookingDetail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.bookingDetail:last-child {
  margin-bottom: 0;
}

.label {
  font-weight: 500;
  color: var(--green);
}

.value {
  color: var(--green);
}
