.card {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 20vw;
  height: auto;
  padding-top: 100%; /* Creates 1:1 aspect ratio */
  margin-bottom: 1rem;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit:scale-down;
  border-radius: 8px;
}
