.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  background: var(--beige);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  max-width: 350px;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  width: 100%;
  height: 120px;
  position: relative;
  overflow: hidden;
  background: var(--beige);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex-grow: 1;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--green);
}

.details {
  margin-top: auto;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.description {
  font-size: 0.9rem;
  color: #555;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.quantitySelector {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.quantitySelector label {
  margin-right: 8px;
  font-size: 0.9rem;
  color: #555;
}

.quantitySelector input {
  width: 60px;
  color: var(--green);
  padding: 6px 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  transition: border-color 0.2s ease-in-out;
}

.quantitySelector input:focus {
  outline: none;
  border-color: var(--green);
}

.removeFromCartLink {
  color: var(--green);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.removeFromCartLink:hover {
  color: #8bc34a;
}

.addToCartButton {
  background-color: var(--green);
  color: var(--beige);
  border: 2px solid var(--green);
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.addToCartButton:hover {
  background-color: var(--beige);
  color: var(--green);
  border-color: var(--green);
}

@media (max-width: 768px) {
  .card {
    max-width: 400px;
  }
}
