.Body {
  padding-top: var(--header-height);
  z-index: 0;
  background: var(--green);
  color: var(--beige);
  overflow-x: hidden;
}

/* INTRO SECTION */

.introSection {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-top: 50px;
}

.introSection h2 {
  text-align: center;
  width: 100%;
  font-size: 3vw;
  margin-bottom: 4rem;
}

.introContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.1rem;
  width: 100%;
  margin: 0;
  padding: 0.3vw;
  color: var(--beige);
  z-index: 2;
}

.introContainer .containerLeft {
  width: 370px;
  padding-right: 3vw;
  text-align: justify;
}

.introContainer .containerRight {
  position: relative;
  padding-left: 3vw;
  width: 380px;
  height: auto;
  overflow: visible;
}

.introContainer .containerRight img {
  width: 300px;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 0;
}

/* BONIF SECTION */

.bonifSection {
  position: relative;
  overflow: visible;
  display: flex;
  background-color: var(--beige);
  color: var(--green);
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-top: 30px;
  padding-top: 3.5rem;
}

.bonifContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.1rem;
  width: 100%;
  margin: 0;
  z-index: 4;
}

.bonifContainer .containerLeft {
  width: 450px;
  padding-right: 3vw;
  text-align: justify;
  margin-right: 0;
  height: calc(auto - 3px);
}

.bonifContainer .containerLeft h2 {
  text-align: left;
  width: 100%;
  font-size: 2.5rem;
}


.bonifContainer .containerLeft img {
  width: 100%;
}

.bonifContainer .containerRight {
  position: relative;
  margin-top: 13rem;
  margin-left: 3vw;
  padding: 20px;
  width: 330px;
  text-align: justify;
  height: auto;
  overflow: visible;
  background-color: var(--beige-transparent);
  border-radius: 10px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.rectanglesRow {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.rectangle {
  width: 120px; /* Adjust size as needed */
  height: 80px;
  border-radius: 15px;
  background-color: var(--green);
  color: var(--beige);
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px; /* Add margin to create spacing */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.rectangle:hover {
  color: var(--green);
  border-color: var(--green);
  background: var(--beige);
  cursor: pointer;
}

.rectangle span {
  position: relative;
  z-index: 1;
}

.valuesRow {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 10px;
}

.value {
  width: 120px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px; /* Add margin to create spacing */
}

.separator {
  max-width: 800px;
  height: 3px;
  background-color: var(--green);
  margin: 20px 0;
}

.suplementaire {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.bonifSection svg {
  position: absolute;
  top: 75%;
  left: -60%;
  transform: translate(15vw, -20%);
  width: 190vw;
  height: auto;
  z-index: 3;
}

@media screen and (max-width: 1300px) {
  .bonifSection svg {
    top: 85%;
    left: -65%;
    transform: translate(15vw, -20%);
    width: 200vw;
  }
}

.collabSVG {
  position: absolute;
  top: -10%;
  left: -25%;
  transform: translate(15vw, -20%);
  width: 115vw;
  height: auto;
  z-index: 1;
}

/* PAIEMENT SECTION */

.paimentSection {
  position: relative;
  padding-top: 175px;
  padding-bottom: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paimentSection img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.paimentSection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--green-transparent);
  z-index: 1;
}

.paimentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 90%;
  padding: 0.3vw;
  color: white;
  text-align: center;
  z-index: 3;
}

.paimentContainer h2 {
  font-size: 2.5rem;
}

.paimentWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.paimentTextSide {
  flex: 1;
  padding: 4vw;
  text-align: justify;
  max-width: 600px;
}

.paimentTextSide h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.paimentTextSide p {
  font-size: 1.1rem;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .Body {
    padding-top: var(--header-height-mobile);
  }

  .paimentContainer h2 {
    font-size: 2rem;
  }

  .paimentTextSide h3 {
    font-size: 1.25rem;
  }

  .paimentTextSide p {
    font-size: 1rem;
  }
}
