/* fonts.css */

/* Maitree */
@font-face {
  font-family: 'Maitree';
  src: url('./fonts/Maitree/Maitree-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Maitree';
  src: url('./fonts/Maitree/Maitree-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Maitree';
  src: url('./fonts/Maitree/Maitree-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Maname */
@font-face {
  font-family: 'Maname';
  src: url('./fonts/Maname/Maname-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: black;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
